{% extends "base_generic.html" %}

{% block content %}
    <h1>All books</h1>

    <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla
        Developer Network.</p>

    <h2>Books List</h2>

    <p>The library has the following books:</p>


    <table width="100%" border="1px">
        <tr>
        <td><strong>ID</strong></td>
        <td><strong>Title</strong></td>
        <td><strong>imprint</strong></td>
        <td><strong>Due_back</strong> </td>
        </tr>
        {% for book in books %}
            <tr>
                <td> {{ book.id }}</td>
                <td> {{ book.title }}</td>
                <td> {{ book.imprint }}</td>
                <td>{{ book.due_back }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}