.phpintel/
.idea/
.gitignore
.DS_Store
.vscode/
node_modules/
lavas-pwd-demo/dist

Go/bin
/static
/PHP/framework/runtime
*.ipynb_checkpoints
__pycache__/

PHP/Syntax/debug.log
files/certificate.pem
files/key.pem
Docker/jenkins
pkg/
