extends layout

block content
  h1= title

  p This is the most commonly used

  table(style='width:100%', border='1')
    tr
      th Id
      th Name
      th Password
      th Profession
	  -var wtf = dataset.length
    -var n = 0
    each item in data
      tr
        td item.id
        td itme.name
        td item.password
        td val.profession
