<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./example_demo.css">
</head>

<body>
	<ul class="container" id='one'>
		<li></li>
	</ul>
	<ul class="container" id='two'>
		<li></li>
	</ul>
	<ul class="container" id='three'>
		<li></li>
	</ul>

	<ul class="container" id='four'>
		<li></li>
	</ul>
	<ul class="container" id='five'>
		<li></li>
	</ul>
	<ul class="container" id='six'>
		<li></li>
	</ul>
	<ul class="container" id='seven'>
		<li></li>
	</ul>
	<ul class="container" id='eight'>
		<li></li>
	</ul>
	<ul class="container" id='nine'>
		<li></li>
	</ul>

	<ul class="container" id='two-one'>
		<li></li>
		<li></li>
	</ul>
	<ul class="container" id='two-two'>
		<li></li>
		<li></li>
	</ul>
	<ul class="container" id='two-three'>
		<li></li>
		<li></li>
	</ul>
	<ul class="container" id='two-four'>
		<li></li>
		<li></li>
	</ul>
	<ul class="container" id='two-five'>
		<li></li>
		<li style="align-self: center;"></li>
	</ul>

	<ul class="container" id='three-one'>
		<li></li>
		<li style="align-self: center;"></li>
		<li style="align-self: flex-end;"></li>
	</ul>

	<ul class="container" id='four-one'>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<ul class="container" id='four-two'>
		<div class="four-two">
			<li></li>
			<li></li>
		</div>
		<div class="four-two">
			<li></li>
			<li></li>
		</div>
	</ul>

	<ul class="container" id="six-one">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		</div>
	</ul>

	<ul class="container" id="six-two">

		<li></li>
		<li></li>
		<li></li>

		<li></li>
		<li></li>
		<li></li>
	</ul>

	<div class="container" id="six-three">
		<div class="six-three">
			<li></li>
			<li></li>
			<li></li>
		</div>
		<div class="six-three">
			<li></li>
		</div>
		<div class="six-three">
			<li></li>
			<li></li>
		</div>
	</div>

	<div class="container"
		style="display: felx; flex-wrap: wrap; align-content: space-between; justify-content:space-between;">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</div>
</body>

</html>
