<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="flow.css">
</head>

<body>

	<div class="main">
		<p style="height:320px">1</p>
		<p style="height:350px">2</p>
		<p>3</p>
		<p style="order:6">order:6</p>
		<p style="height:380px">5</p>
		<p>6</p>
		<p style="height:340px">7</p>
		<p style="align-self: flex-start;">align-self: flex-start</p>
		<p style="height:320px">9</p>
		<p style="flex-shrink: 0;">flex-shrink</p>
		<p style="flex-grow: 2;">flex grow</p>
	</div>
	<hr>
	<div class="cross">
		<b>1</b>
		<b>2</b>
		<b>3</b>
		<b>4</b>
		<b>5</b>
		<b>6</b>
		<b>7</b>
		<b>8</b>
		<b>9</b>
		<b>10</b>
		<b>11</b>
	</div>
</body>

</html>
