<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container_1 {
            display: flex;
            width: 850px;
            padding: 5px;
            background-color: aqua;
        }
        
        .container_1 .item_1 {
            width: 200px;
            height: 50px;
            margin: 5px;
            background-color: rebeccapurple;
        }
        
        .container_1 .item_2:nth-child(2) {
            width: 1000px;
            background-color: cornsilk;
        }
    </style>

</head>

<body>
    <h6>实例1</h6>
    <div class="container_1">
        <div class="item_1">red</div>
        <div class="item_2">green</div>
        <div class="item_2">blue</div>
    </div>
</body>

</html>