{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if author_list %}
        <table width="100%" border="1px">
            <tr>
                <td><strong>first_name</strong></td>
                <td><strong>last_name</strong></td>
                <td><strong>Author</strong></td>
                <td><strong>Due_back</strong></td>
            </tr>
            {% for author in author_list %}
                <tr>
                    <td><a href="{{ author.get_absolute_url }}">{{ author.first_name }}</a></td>
                    <td>{{ author.last_name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no authors in the library.</p>
    {% endif %}
{% endblock %}