<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="column.css">
</head>

<body>
	<div>
		<h2>hello World</h2>
		<p>我来上海的第一年，雨水格外多。蛞蝓兀自出现在室内的地板，没什么来处。这种怪异的软体动物，它们极度柔软的身体像半液态一般不会静止，似乎总是在轻微蠕动着。</p>

		<p>但它们哪里都没去，与人的节奏相比，蛞蝓的速度简直像是静止。用卫生纸捏起这柔软的生物，几乎没有重量，在这个属于什么垃圾的问题上，我总是迟疑一下，然后随意的弃置。</p>

		<p>梅雨天中，阴湿的天气让窗外光景类似，白日与夜晚缺乏了朝晚光亮的分界，时间连续起来。规律的雨声替代了钟表滴答，重复替代了演进。在雨停前，所有人似乎都被困住了。</p>

		<p>人们在困顿中谈论，这将是被载入史册的一年，“二战后…”，“百年来…”这样的词汇被频繁使用，渲染出庞大的气氛，亲历历史是一种刺激的意淫，它不费吹灰之力的证明了我们的特别。“特别”，一个多么迷人的词汇。辉格党人早就开始用它编织一些低俗神话。
		</p>

		<p>在一个寒意未退，可用积雪书写的晚上，人们如丧考妣地痛哭，大喊“不能忘记”。现在半年过去，我想他们倒是没有“忘记”，只是已经想不起来了。这让那夜显得像是一次纯粹的释放，之后了无痕迹，像一只被抓走的蛞蝓。</p>

		<p>然后一切照旧而变本加厉，近代史的叙述猛地突进，屈辱与对抗再次抓住人们的神经。随后是好多老戏码，消费与娱乐，男人与女人的压迫，反对政治正确，歧视有色人种。为此种话题炒热气氛，逼人道歉，举报与封杀。</p>
	</div>
</body>

</html>
